@inherits LayoutComponentBase
@if (Utils.ISAUTHENTICATED)
{
    <div class="flex min-h-screen bg-gray-100">
        <!-- Sidebar -->
        <div class="w-64 bg-white shadow-md">
            <NavMenu></NavMenu>
        </div>

        <!-- Main Content -->
        <div class="flex-1 p-6">
            @Body
        </div>
    </div>
}
else
{
    <div class="">
        @Body
    </div>
}

@* 
 @inherits LayoutComponentBase

 <div class="page">
     <div class="sidebar">
         <NavMenu />
     </div>

     <main>
         <div class="top-row px-4">
             <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
         </div>

         <article class="content px-4">
             @Body
         </article>
     </main>
 </div>
 *@